<!-- templates/imports/detail.html-->
{% extends 'base.html' %}

{% block title %}detail{% endblock %}

{% block content %}
<h1>Import n° {{ importOptimum.import_info }}</h1>
<div class="component">
				<h2>Basic usage</h2>
				{% if import_detail %}
				<table>
					<thead>
						<tr>
							<th>ID IMB</th>
							<th>Date de publication</th>
							<th>Auteur</th>
						</tr>
					</thead>
					<tbody>
					{% for importOptimum in import_detail %}
						<tr><td class="user-name">{{ importOptimum.dossier }}</td><td class="user-email">{{ importOptimum.dossier }}</td><td class="user-phone">{{ importOptimum.import_info }}</td></tr>
					{% endfor %}
					</tbody>
				</table>
				{% else %}
    			<p>No imports are available.</p>
				{% endif %}
			</div>
{% endblock %}
