<!-- templates/suivi/index.html-->
{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block content %}
  <center>
{% if user.is_authenticated %}
  <br>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
    {% endif %}
  </center>
{% if user.is_authenticated %}
  <ul>
    <li><a href="{% url 'suivi:suiviPm' %}">Suivi des PM</a></li>
    <li><a href="{% url 'suivi:suiviPa' %}">Suivi des PA</a></li>
    <li><a href="{% url 'suivi:suiviImb' %}">Suivi des IMB</a></li>
  </ul>
{% endif %}
{% endblock %}
