<!-- templates/imports/index.html-->
{% extends 'base.html' %}

{% block title %}imports{% endblock %}

{% block content %}
<center><h1>Imports</h1></center>
<h2>Optimum</h2>
{% if latest_import_list %}
    <ul>
    {% for import in latest_import_list %}
        <li><a href="{% url 'imports:detail' import.id %}">{{ import.pub_date }}, {{ import.author }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No imports are available.</p>
{% endif %}
<a href="{% url 'imports:importer' %}">Importer</a>
{% endblock %}

